.s-Div-post{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: -2em;
}

.p-div-post:first-child{
    margin-right: 2em;
}


.AppDivMain {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn-createpost {
    padding: 0.8em 5em;
}